<div id="cart">
    <div class="taste-header">
        <div class="user">
            <!-- <form action="/signup" method="get"> -->
                <button type="submit" id="account-btn" acc-btn>
                    <i class="fa fa-user-circle"></i>
                </button>
                <div class="user-info hide" user-info>
                    <button class="display-username" getusn>You are logged in as: <span id="usn">${usn}</span></button>
                    <button class="change-password">Change password</button>
                    <button class="signout" signout>Sign out</button>
                </div>
            <!-- </form> -->
            
        </div>
    </div>

    <div id="category-list">
        <p class="item-menu">Go For Hunt</p>

        <div id="checkout" class="cart-toggle">
            <div id="a">
                <p id="total-item">Total Item : </p> <br>
                <p id="total-price">Total price : </p> <br>
                <p id="delivery">Free delivery on $ 40</p> <br>
            </div>

            <div id="b">
                <table id="cart-table">
                    <thead>
                        <td>Item name</td>
                        <td>Quantity</td>
                        <td>Price</td>
                    </thead>
                    <tbody id="table-body">
                        
                    </tbody>
                </table>    
    
                <button class="cart-btn checkout">Checkout</button>
            </div>
        </div>

        <div class="border"></div>                
    </div>
    
</div>