<div id="cart">
    <div class="taste-header">
        <a href="#" class="user">
            <form action="/account" method="get">
                <button type="submit" id="account-btn">
                    <i class="fa fa-user-circle"><span class="acc"> Account</span></i>
                </button>
            </form>
            
        </a>
    </div>
    <div id="category-list">
        <p class="item-menu">Go For Hunt</p>
        <div class="border"></div>                
    </div>
    <div id="checkout" class="cart-toggle">
        <p id="total-item">Total Item : </p>
        <p id="total-price"></p>
        <p id="delievery">Free delievery on $ 40</p>
        <button class="cart-btn checkout">Checkout</button>
    </div>
</div>