<div id="food-container">
    <div id="header">
        <div class="util">
            <i class="fa fa-search search-container" search-container> 
                <input class="search" placeholder="Search for dishes" search> 
                <div class="search-results " data-search-result>
                    
                </div>
            </i>
            <i class="fa fa-tags"> <span class="offers"> Offers</span></i>
            <i class="fa fa-cart-plus"> <span id="cart-plus">0 Items</span> </i>
        </div>
    </div>
    <div id="food-items" class="d-food-items">
        <div id="biryani" class="d-biryani">
            <p id="category-name">Biryani</p>    
        </div>

        <div id="chicken" class="d-chicken">
            <p id="category-name">Chicken Delicious</p>    
        </div>

        <div id="paneer" class="d-paneer">
            <p id="category-name">Paneer Mania</p>
        </div>

        <div id="vegetable" class="d-vegetable">
            <p id="category-name">Pure Veg Dishes</p> 
        </div>

        <div id="chinese" class="d-chinese">
            <p id="category-name">Chinese Corner</p> 
        </div>

        <div id="south-indian" class="d-south-indian">
            <p id="category-name">South Indian</p>
        </div>
    </div>

    <!-- <div id="cart-page" class="cart-toggle">
        <p id="cart-title">Cart Items</p>
        <p id="m-total-amount">Total Amount : 100</p>
        <table>
            <thead>
                <td>Item</td>
                <td>Name</td>
                <td>Quantity</td>
                <td>Price</td>
            </thead>
            <tbody id="table-body">
                
            </tbody>
        </table>
        <div class="btn-box">
            <button class="cart-btn checkout" >Checkout</button>
        </div>
    </div> -->

    <!-- <div id="wish-page" class="wish-toggle">
        <p id="wish-title">Items that you liked</p>
        <p id="m-total">Total: 100</p>
        <table>
            <thead>
                <td>Item</td>
                <td>Name</td>
                <td>Price</td>
            </thead>
            <tbody id="t-body">
                
            </tbody>
        </table>
    </div> -->
</div>