<div id="menu">
    <a href="#" class="title">
        <img id="home-redirect" src="/public/images/foodie-hunter.png" alt="">
    </a>
    <% if(typeof admin !== 'undefined'){ %>
        <div class="menu-item">
            <a href="/admin#menu" class="order-a" home>
                Menu
            </a>
            
            <a href="/orders" class="order-a" orders>
                Ongoing Orders
            </a>

            <a href="/completed" class="order-a" orders>
                Completed Orders
            </a>

            <a href="#" id="dispWish">Wishlists</a>
        </div>
    <% } else { %>
        <div class="menu-item">

                <a class="order-a" home>
                    Home
                </a>

            <form action="/order-history-redirect" method="post">
                <a class="order-a" history>
                    History
                </a>
            </form>

            <a href="#wishlist" id="dispWish">Wishlists</a>
        </div>
    <% } %>
</div>