<div id="menu">
    <a href="#" class="title">
        <img id="home-rdr" src="/public/images/foodie-hunter.png" alt="">
    </a>
    <div class="menu-item">
        <a href="#home" home>Home</a>
        <a href="#order" id="order-rdr">Your Orders</a>
        <a href="#wishlist" id="dispWish">Wishlists</a>
    </div>
</div>