<footer id="scrollDown">
    <div class="about">
        <h3>About this website</h3>
        <h5>This is a website to book and manage food orders. This website consists of several kinds of food,  including vegeterian and others</h5>
    </div>
    <div class="contact">
        <h3>Contact us:</h3>
        <a href="mailto:khoa.nguyenviet.549@gmail.com" target="_blank"><i class="fa fa-envelope mx-2" ></i>Gmail</a> <br>  

        <a href="https://facebook.com" target="_blank"><i class="fa-brands fa-facebook mx-2"></i>Facebook</a> <br>
        <a href="https://youtube.com" target="_blank"><i class="fa-brands fa-youtube mx-2"></i>Youtube</a>
    </div>
</footer>