<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../layouts/head.ejs', {title: 'Account', style: `/public/css/acc.css`, admin: false}) %>
</head>
<body>
    <div id="login-box">
        <div class="left">
            <h5><a href="http://localhost:3000/" id="r-home"><i class="fa-solid fa-arrow-left"> Back to home</i></a></h5>
            <h1>Sign up</h1>
            <form id="signup-form" method="post" action="/save-register">
                <input type="text" id="username" name="username" placeholder="Username" />
                <input type="password" id="password" name="password" placeholder="Password" />
                <input type="password" id="cf_password" name="cf_password" placeholder="Confirm password" />
                
                <button id="saveData">Sign up</button>
            </form>
        </div>
        
        
        <div id="signin">
            <form id="signup-form" method="post" action="/login-redirect">
                <h5>Already have account? <a id="signinredirect" signinredirect><button type="submit">Click here to sign in </button></a></h5>
            </form>
        </div>
    </div>
    <script type="module" src="../../public/js/main/acc.js"></script>
    
    </body>
    
</html>
